@import url('https://fonts.googleapis.com/css?family=Roboto');


header {
  background-color: #283e4a;
  padding: 1px;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-column: 1/9;
  grid-row: 1/2;
}

.title {
  background-color: #0084bf;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 2%;
  padding: 5px;
}

.App {
  display: grid;
  grid-template-columns: repeat(8,1fr);
}

main {
grid-row: 2/3;
grid-column: 1/9;
padding: 40px;
}



